/* css переменные */
:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --hero-title: #ffffff;
  --whitecolor: #ffffff;
  --accent-color: #2196f3;
  --address-color: rgba(255, 255, 255, 0.6);

  --primary-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #F5F4FA;
  --hero-gredient: rgba(47, 48, 58, 0.4);
  --filter-btn-bg-color: #F5F4FA;
  --icons-bg: rgba(255, 255, 255, 0.1);

  --border-color-portfolio: #EEEEEE;

  --normal-font-size: 14px;

  --logo-color: #AFB1B8;
  
  --header-border-color: #ECECEC;

  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);

  --portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);

}

/* сброс маркеров списка */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* сброс декораций cсылок */
a {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  /* outline: 1px solid red; */
}

.current {
  color: var(--accent-color);
}

.sitecolor {
  color: var(--text-color);
}

.fontstyle-norm {
  font-style: normal;
}

.primary-textcolor {
  color: var(--primary-text-color);
}

/* class for centering all content for parent block */
.centered {
  text-align: center;
}

button {
  cursor: pointer;
}

/* body */
body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);

  font-family: Roboto, sans-serif;
  font-size: var(--normal-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* text-align: center; */
  /* outline: 1px solid firebrick; */
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
  /* outline: 1px solid salmon; */
}

/* header */
.page-header{
  border-bottom: 1px solid var(--header-border-color) ;
}

.page-header .list a:hover,
.page-header .list a:focus,
.footer address a:hover,
.footer address a:focus {
  color: var(--accent-color);
}

/* site-nav */
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav-pages {
  display: flex;
}

.site-nav-pages .item:not(:last-child) {
  margin-right: 50px;
}

/* .site-nav-pages .item + .item{
  margin-left: 50px;
} */

.site-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* site logo */
.site-nav-logo {
  display: block;
  margin-right: 91px;

  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.contacts {
  display: flex;
  margin-left: auto;
}

/* .contacts .mail, .contacts .phone{
  display: flex;
  align-items: center;
} */

.contacts .item+.item {
  margin-left: 50px;
}

/* всем у кого сверху по-соседству класс item */

/* site navigation */
.site-nav,
.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-logo{
  margin-right: 10px;
}

.mail,
.phone{
  fill: currentColor;
}

/* hero */
.hero {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--second-bg-color);
  background-image: linear-gradient(to right,
      var(--hero-gredient),
      var(--hero-gredient)),
    url(../images/studio/ourteam.jpg);
  background-repeat: no-repeat;
  background-position: center;
  
}

.hero-content {
  width: 696px;
  margin: 0 auto;
}

/* h1 hero */
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--hero-title);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  min-width: 200px;
  border: 0;
  border-radius: 4px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  color: var(--whitecolor);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* advantages */
.advantages .title {
  display: none;
}

.advantages-list {
  display: flex;
}

.advantages .item {
  width: 270px;
}

.advantages-title {
  margin-bottom: 10px;
}

.advantages .item+.item {
  margin-left: 30px;
}

.advantages-logos{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--third-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* what we do section*/
.what-we-do .list {
  display: flex;
  justify-content: center;
}

.what-we-do .item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-title,
.our-team-title,
.clients-title {
  margin-bottom: 50px;
}

/* our team */
.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--third-bg-color);
}

.our-team-list {
  display: flex;
}

.our-team-list .item {
  background-color: var(--whitecolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam-text-block {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.our-team .item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list .title {
  font-size: 16px;
  text-transform: unset;
  margin-bottom: 10px;
}

.our-team-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/* clients */
ul.client-list {
  display: flex;
}

li.client-list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;

}

li.client-list-item:not(:last-child) {
  margin-right: 30px;
}

a.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--logo-color);
  fill: currentColor;

  border: 1px solid var(--logo-color);
  border-radius: 4px;
}

svg.clients-icon {
  
}

a.client-link:hover,
a.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color)
}

/* footer */
.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer,
.footer a {
  color: var(--whitecolor);
}

.footer-address-list a {
  color: var(--address-color)
}

.footer .site-nav-logo,
.action-text {
  margin-bottom: 20px;
}

.footer-mainaddress,
.footer-address-list li:first-child {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}


.footer-social {
  width: 206px;
}

.action-text {
  font-size: var(--normal-font-size);
  font-weight: 700;
}

ul.social-list {
  display: flex;
}

li.social-item:not(:last-child) {
  margin-right: 10px;
}

li.social-item {
  width: 44px;
  height: 44px;
}

a.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--icons-bg);
  fill: currentColor;
}

a.social-link:hover,
a.social-link:focus {
  background-color: var(--accent-color);
}

.our-team a.social-link {
  color: var(--logo-color)
}

.our-team a.social-link:hover,
.our-team a.social-link:focus {
  color: var(--whitecolor);
}

/* portfolio styles */
.portfolio button:hover,
.portfolio button:focus {
  background-color: var(--accent-color);
  color: var(--whitecolor);
  box-shadow: var(--button-shadow);
}

.portfolio h1 {
  display: none;
}

/* filter buttons */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-list button {
  color: var(--primary-text-color);
  background-color: var(--filter-btn-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;



  border: 0;
  border-radius: 4px;
  min-width: 73px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.filter-list li:first-child button {
  background-color: var(--accent-color);
  color: var(--whitecolor);
  box-shadow: var(--button-shadow);
}

.portfolio-items .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

/* задаем для детей суммируемый марджин и у родителя минусовой */
.portfolio-items .item {
  width: 370px;
  margin: 15px;

  border: 1px solid var(--border-color-portfolio);

  /* width: calc((100%-60px)/3); */
  /* margin-right: 30px;
  margin-bottom: 30px; */
  /* outline: 1px solid green; */
}

.portfolio-items a:hover, 
.portfolio-items a:focus{
  box-shadow: var(--portfolio-card-shadow);
}


/* у каждого 3го правый марджин 0 */
.portfolio-items .item:nth-child(3n) {
  margin-right: 0;
}

/* у последних 3х элементов */
.portfolio-items .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-text-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-description {
  margin-top: 4px;

  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}